/* ======= Estilo Portfolio CV ======= */

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: #111;
    background: linear-gradient(135deg, #e8f0ff 0%, #fdf9ff 100%); 
    display: flex;
}


/* PANEL IZQUIERDO */
.sidebar {
    width: 280px;
    background: #253258;
    color: #fff;
    padding: 35px 25px;
    min-height: 100vh;
}

.photo img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: auto;
}


.name {
    margin-top: 18px;
    font-size: 22px;
    text-align: center;
    font-weight: 700;
}

.role {
    font-size: 14px;
    text-align: center;
    opacity: 0.8;
}

/* Secciones sidebar */
.sidebar h2 {
    margin-top: 30px;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.sidebar ul {
    list-style: none;
    padding-left: 0;
}

.sidebar ul li {
    margin: 6px 0;
}

/* ENLACES sidebar */
.sidebar a {
    color: #83d4ff;
    text-decoration: none;
}

/* ===== CONTENIDO PRINCIPAL ===== */

.content {
    flex: 1;
    padding: 40px 60px;
    background: white;
}

.content h2 {
    font-size: 26px;
    margin-bottom: 12px;
}

.meta {
    opacity: 0.7;
    font-size: 14px;
    margin-bottom: 8px;
}

.job {
    margin-bottom: 40px;
}

.job ul li {
    margin-bottom: 6px;
}

/* CONTROLES ACCESIBILIDAD */
.controls {
    position: fixed;
    right: 5px;
    bottom: 5px;
    display: flex;
    gap: 8px;
}

.controls button {
    background: #005bff;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
}

section h2 {
    font-size: 26px;
    margin-bottom: 8px;
    position: relative;
}

section h2::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #ffffff;
    margin-top: 8px;
}

.hero {
    background: #253258; 
    text-align: left;
    color: white;
    padding: 40px 0;
    width: 100vw;       
    margin-left: calc(-43vw + 50%); 
    padding-left: 35%;

}


.main-name {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 5px;
}

.main-role {
    font-size: 18px;
    opacity: 0.85;
    margin: 0;
    padding-left: 5%;
}





